<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cachu.gasolinaleon" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Gasolina 2019</name>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="webpack/src/img/logo.png" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-googlemaps" spec="^2.4.6">
        <variable name="API_KEY_FOR_ANDROID" value="AIzaSyD4PXcR06qMI_9Xcf81WI1UVp_3IoT_8-U" />
        <variable name="API_KEY_FOR_IOS" value="AIzaSyD4PXcR06qMI_9Xcf81WI1UVp_3IoT_8-U" />
    </plugin>
</widget>
