body > footer {
  height: 50px;
}

body > header {
  height: 50px;
}

.hidden {
  display: none;
}

.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
}

.sidebar-wrapper {
  background-color: white;
}

.list-group-item.active {
  background-color: #558b2f;
  border-color: #558b2f;
  color: white;
}

.list-group-item.inactive {
  background-color: #a52714;
  border-color: #a52714;
  color: white;
}